body {
  background-color: #191765;
  height: 1300px;
  display: flex;
  justify-content: center;
  width: 380px;
  align-items: center;
}

nav {
  position: fixed;
  top: 40px;
  display: flex;
  width: 330px;
  justify-content: space-between;
  align-items: center;
}

.placeholder {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

#menu {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none;
  width: 50px;
}

span.line {
  background-color: white;
  height: 1px;
  width: 25px;
  margin: 5px;
}

#headline {
  position: relative;
  top: -520px;
}

header {
  display: flex;
  width: 300px;
  height: 75px;
  flex-wrap: wrap;
  position: absolute;
  top: 100px;
  justify-content: center;
}

.title {
  font-family: 'Roboto', sans-serif;
  color: #7d73fc;
  font-size: 48px;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  font-size: 30px;
}

#support {
  position: absolute;
  top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.blurb {
  text-align: center;
  color: #c8c8d4;
  font-size: 20px;
  font-weight: lighter;
}

.divide {
  border: 1px solid #646369;
  width: 360px;
  margin: 30px;
  align-self: center;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: space-around;
  height: 500px;
  width: 300px;
  padding-left: 30px;
}

.blue {
  color: #9490ff;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  color: #f5f5ff;
  padding-top: 15px;
}

.subsection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  min-width: 0;
}

h3 {
  position: relative;
  top: 20px;
}

#links {
  display: flex;
  position: absolute;
  top: 1100px;
  width: 150px;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}

#image-container {
  position: absolute;
  top: 25px;
  width: 400px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#ellipse18 {
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: #edecff;
  align-self: flex-start;
  border-radius: 50%;
  filter: blur(24px);
}

#ellipse19 {
  position: absolute;
  width: 68px;
  height: 68px;
  background-color: #edecff;
  filter: blur(24px);
  align-self: flex-end;
}

#internal {
  position: absolute;
  top: 1175px;
}

#work-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 75px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #a2a3ae;
  text-decoration: none;
}

#works {
  display: grid;
  gap: 40px;
  position: absolute;
  width: 375px;
  height: 3461px;
  top: 1100px;
  grid-template: 100px 30px 770px 770px 770px / 375px;
}

h4 {
  width: 300px;
  height: 104px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #9490ff;
  padding-left: 10px;
}

#span3 {
  position: relative;
  left: -25px;
  top: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  align-content: center;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 400;
}

.blurb2 {
  font-family: 'Inter', sans-serif;
  color: #c8c8d4;
  font-size: 22px;
  font-weight: lighter;
  font-weight: 300;
}

#background {
  width: 390px;
  position: relative;
  top: 700px;
}

.card-list {
  display: flex;
  width: 300px;
  height: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-list > li {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  padding: 10px;
}

.card-list > li:not(:last-child) {
  border-right: 1px solid hsl(0, 0%, 33%);
}

.project-button {
  width: 89px;
  height: 49px;
  background: #7d73fc;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: #edecff;
  font-size: 12px;
}

.project-button:hover {
  background: #7d73fc;
  box-shadow: 1px 8px 16px rgba(125, 115, 252, 0.48);
}

.project-button:active {
  background: #5e42d7;
}

.project-button:disabled {
  background: #2a2b33;
}

#about {
  position: absolute;
  top: 4450px;
  display: flex;
  width: 350px;
  flex-direction: column;
  height: 600px;
}

#about-blurb {
  position: relative;
  top: -100px;
}

#resume {
  width: 150px;
  font-size: 15px;
  position: relative;
  top: -100px;
}
