body {
  background-color: #191765;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-image: url(./images/Top-circles.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

header {
  display: flex;
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

#logo-div {
  margin-right: 20%;
  padding-left: 10%;
}

#menu-div {
  padding-right: 10%;
}

.placeholder {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

#menu {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none;
}

span.line {
  background-color: white;
  height: 1px;
  width: 25px;
  margin: 5px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Roboto', sans-serif;
  color: #7d73fc;
  font-size: 48px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 30px;
}

#support {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blurb {
  text-align: center;
  color: #c8c8d4;
  font-size: 20px;
  font-weight: lighter;
  width: 95%;
  padding-bottom: 20px;
}

.divide {
  border: 1px solid #646369;
  width: 330px;
  align-self: center;
}

#list-container {
  display: flex;
  flex-wrap: wrap;
  height: 460px;
  width: 290px;
  align-self: center;
  margin: 20px;
}

.blue-list {
  color: #9490ff;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 0;
}

#skills-list {
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  color: #f5f5ff;
  padding-top: 15px;
}

.subsection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
}

h3 {
  position: relative;
  top: 20px;
}

#links {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
}

#internal {
  padding-top: 40px;
}

.work-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 75px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #a2a3ae;
  text-decoration: none;
}

#works {
  display: grid;
  gap: 40px;
  grid-template: 0.25fr 1px 7fr 7fr 7fr 7fr 1px / 100%;
  padding: 10px;
  margin-top: 85px;
  align-items: center;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: center;
}

.placeholder-image {
  width: 100%;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 400;
}

.blurb2 {
  font-family: 'Inter', sans-serif;
  color: #c8c8d4;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 300;
}

.card-list {
  display: flex;
  width: 300px;
  height: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  align-self: center;
}

.card-list > li {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  padding: 10px;
}

.card-list > li:not(:last-child) {
  border-right: 1px solid hsl(0, 0%, 33%);
}

.project-button {
  width: 89px;
  height: 49px;
  background: #7d73fc;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: #edecff;
  font-size: 12px;
}

.project-button:hover {
  background: #7d73fc;
  box-shadow: 1px 8px 16px rgba(125, 115, 252, 0.48);
}

.project-button:active {
  background: #5e42d7;
}

.project-button:disabled {
  background: #2a2b33;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  justify-content: center;
  margin-bottom: 60px;
}

#about-title {
  margin: 30px;
}

#resume {
  width: 150px;
  font-size: 15px;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: calc(100% - 24px);
}

.input-field {
  width: 100%;
  align-self: center;
  height: 48px;
  margin: 12px;
  box-sizing: border-box;
  padding: 12px;
  font-family: 'Inter', sans-serif;
}

.input-field:valid {
  border: 1.5px solid #9490ff;
  color: #191765;
}

.input-field.message {
  height: 148px;
  padding: 12px;
}

#contact-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  display: flex;
  justify-content: center;
  color: #9490ff;
  align-self: center;
  margin: 0;
  margin-top: 70px;
}

#form-blurb {
  color: #f5f5ff;
  font-family: 'Inter', sans-serif;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.links-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-span {
  border-top: 1px solid #646369;
  width: 100%;
  margin-top: 71px;
  align-self: center;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 0;
}

#footer-email {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebefff;
  margin-top: 0;
  padding-bottom: 40px;
}
